html {
    min-height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    min-height: 100%;
    padding-bottom: 5rem;
  }
  .caja-inicio{
    left: 22%;
    width: 57%;
  }

  header {
    margin-top: 3rem;
  }
  header h1 {
    color: white;
  }
  .col-form-label {
    font-size: 12px;
  }
 
  .imagen{
    width: inherit;
  }
.caja{
  border: 1px solid rgba(0,0,0,0.125);
  margin-right: 1%;
}
